<div class="container text-center">
  <section id="countries_autocomplete">
    <form
      *ngIf="countries; else loadingCountries"
      class="row w-25 mx-auto mt-5"
    >
      <mat-form-field>
        <input
          #countryInput
          matInput
          placeholder="Country"
          aria-label="Country"
          [matAutocomplete]="auto"
          [formControl]="countryFC"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            (onSelectionChange)="
              countryInput.value != undefined && getUniversitiesData($event)
            "
            *ngFor="let country of filteredCountries | async"
            [value]="country.name"
          >
            <span>{{ country.name }}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <ng-template #loadingCountries>
      <h1 class="row w-25 mx-auto mt-5">Loading Countries...</h1>
    </ng-template>
  </section>
  <section id="filtering">
    <mat-form-field appearance="fill">
      <mat-label>Filter by:</mat-label>
      <mat-select (selectionChange)="onFilterChange($event)">
        <mat-option>---select a filter---</mat-option>
        <mat-option *ngFor="let filter of filters" [value]="filter">
          {{ filter }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </section>
  <section id="universities_data" class="row">
    <ng-container *ngIf="countrySelected; else noCountrySelected">
      <ng-container *ngIf="dataLoaded; else loadingUniversities">
        <div
          *ngFor="let uni of filteredUniversities"
          class="col-auto card"
          style="width: 18rem"
        >
          <div class="card-body">
            <h4 class="card-title">{{ uni.name }}</h4>
            <h5 class="card-subtitle mb-2 text-muted">
              Country: {{ uni.country }}
            </h5>
            <h5 class="card-subtitle mb-2 text-muted">
              Domains:
              <span *ngFor="let domain of uni.domains; let last = last">
                {{ domain }}<span *ngIf="!last">, </span>
              </span>
            </h5>
            <span *ngIf="uni.web_pages[0].match('https') != null">🔐 </span>
            <a [href]="uni.web_pages[0]" target="_blank" class="card-link">
              Website
            </a>
          </div>
        </div>
      </ng-container>
      <ng-template #loadingUniversities>
        <ng-container *ngIf="!noUniversitiesFound; else noUniFound">
          <h3>Loading universities...</h3>
        </ng-container>
        <ng-template #noUniFound>
          <h3>No Universities Found!</h3>
        </ng-template>
      </ng-template>
    </ng-container>
    <ng-template #noCountrySelected>
      <h3>Please select a country!</h3>
    </ng-template>
  </section>
</div>
