<div class="container text-center">
  <section id="countries_autocomplete" class="row mt-5">
    <form
      *ngIf="countries; else loadingCountries"
      class="col-md-6 col-lg-4 mx-auto"
    >
      <mat-form-field class="col-12">
        <input
          #countryInput
          matInput
          placeholder="Country"
          aria-label="Country"
          [matAutocomplete]="auto"
          [formControl]="countryFC"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            (onSelectionChange)="
              countryInput.value != undefined && getUniversitiesData($event)
            "
            *ngFor="let country of filteredCountries | async"
            [value]="country.name"
          >
            <span>{{ country.name }}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <ng-template #loadingCountries>
      <h3 class="col-md-6 col-lg-4 mx-auto">Loading Countries...</h3>
    </ng-template>
  </section>
  <section id="filtering" class="row">
    <div class="col-md-6 col-lg-4 mx-auto">
      <mat-form-field appearance="fill" class="col-12">
        <mat-label>Filter by:</mat-label>
        <mat-select
          #filterSelectbox
          [formControl]="filterFC"
          (selectionChange)="onFilterChange($event)"
        >
          <mat-option value="default" selected>All</mat-option>
          <mat-option *ngFor="let filter of filters" [value]="filter">
            {{ filter }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field
        class="col-12"
        *ngIf="filterSelectbox.value === 'Name'"
        appearance="fill"
      >
        <mat-label>Name</mat-label>
        <input
          matInput
          placeholder="Enter a name"
          [formControl]="uniNameFC"
          #nameInput
        />
      </mat-form-field>

      <h3 class="col-12">Results: {{ uniLength }}</h3>
    </div>
  </section>

  <section id="paginator" class="row">
    <mat-paginator
      class="col-auto mx-auto"
      #paginator
      [length]="uniLength"
      [pageSize]="itemsPerPage"
      [pageSizeOptions]="pageSizeOptions"
      [showFirstLastButtons]="true"
      (page)="handlePageEvent($event)"
      aria-label="Select page"
    >
    </mat-paginator>
  </section>

  <section id="universities_data" class="row justify-content-around">
    <ng-container *ngIf="countrySelected; else noCountrySelected">
      <ng-container *ngIf="dataLoaded; else loadingUniversities">
        <div
          *ngFor="let uni of pagedFilteredUniversities"
          class="col-auto card my-3"
          style="width: 18rem"
        >
          <div class="card-body px-0">
            <h2 class="card-title">{{ uni.name }}</h2>
            <!-- <h5 class="card-subtitle mb-2 text-muted">
              Country: {{ uni.country }}
            </h5> -->
            <h3 class="card-subtitle mb-2 text-muted">Domains:</h3>
            <h5 *ngFor="let domain of uni.domains; let last = last">
              {{ domain }}<span *ngIf="!last">, </span>
            </h5>
            <span *ngIf="uni.web_pages[0].match('https') != null">🔐 </span>
            <a [href]="uni.web_pages[0]" target="_blank" class="card-link">
              Website
            </a>
          </div>
        </div>
      </ng-container>
      <ng-template #loadingUniversities>
        <ng-container *ngIf="!noUniversitiesFound; else noUniFound">
          <h3>Loading universities...</h3>
        </ng-container>
        <ng-template #noUniFound>
          <h3>No Universities Found!</h3>
        </ng-template>
      </ng-template>
    </ng-container>
    <ng-template #noCountrySelected>
      <h3>Please select a country!</h3>
    </ng-template>
  </section>
</div>
